<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>474203152246-ajsvunlk0p3ri7e4583htseca9rinst0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.474203152246-ajsvunlk0p3ri7e4583htseca9rinst0</string>
	<key>API_KEY</key>
	<string>AIzaSyDzO4t8dmUd0zEhpIKN6rU88hVofaCz5aE</string>
	<key>GCM_SENDER_ID</key>
	<string>474203152246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TK.Vehicle-App</string>
	<key>PROJECT_ID</key>
	<string>phs-vehicle-check-8d99c</string>
	<key>STORAGE_BUCKET</key>
	<string>phs-vehicle-check-8d99c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474203152246:ios:86a7070dc62f36f2</string>
	<key>DATABASE_URL</key>
	<string>https://phs-vehicle-check-8d99c.firebaseio.com</string>
</dict>
</plist>